.quotes-tile {
  border: 10px solid #e4c1f988;
  border-radius: 20px;
  padding: 20px;
  padding-right: 0;
  background-color: #e4c1f996;
  height: 260px;
  justify-content: center;
  display: flex;
  align-items: center;
  max-width: 400px;

}

.motivational-quote {
  margin-left: 20px;
}