.quotes-tile {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 43vw;
    height: 45vw;
    background-color: #e4c1f9;
    border-radius: 50px;
    margin: 10px;
  }
  
  .quotes-tile-white {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90%;
    height: 90%;
    background-color: white;
    border-radius: 50px;
    margin: 10px;
  }
  
  .motivational-quote {
    margin: 20px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    text-align: center;
  }
  
  blockquote {
    font-style: italic;
  }