.timer-tile {
    display: flex;
    width: 43vw;
    height: 45vw;
    background-color: #ff99c8;
    border-radius: 50px;
    margin: 10px;
    align-items: center;
    justify-content: center;
  }
  
  .timer-tile-white {
    width: 90%;
    height: 90%;
    background-color: white;
    border-radius: 50px;
    margin: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .timer-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .donut-display {
    /* Style your donut display as needed */
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background-color: lightgray;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .timer-text {
    font-size: 24px;
  }
  
  .button-container {
    margin-top: 20px;
  }
  
  button {
    margin: 0 10px;
    padding: 10px;
    font-size: 16px;
  }